*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: sans-serif;
    color: yellow; 
    background-color: aquamarine; 
    text-align: center;
}
.div{
    width: 500px;
    height: 400px;
 margin-left: 400px;
 background-image: url(./pizz.jpg);
 background-repeat: no-repeat;
 background-size: 100%;

}