*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: sans-serif;
    color: yellow; 
    background-color: aquamarine; 
}
.div{
    width: 500px;
    height: 200px;
    background-color: darkgoldenrod;
 
}